<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Récy&Co{% endblock %}</title>

    <!-- CSS commun à toutes les pages -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">

    <!-- CSS spécifique selon la page -->
    {% block css %}{% endblock %}

    <link rel="icon" href="{{ url_for('static', filename='icons/recy.svg') }}" type="image/svg">
</head>
<body>

    {% include "header.html" %}

    <main>
        {% block content %}{% endblock %}
    </main>

    {% include "footer.html" %}

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="{{ url_for('static', filename='js/auth_refresh.js') }}"></script>
    <script src="{{ url_for('static', filename='js/logout.js') }}"></script>

    <script src="{{ url_for('static', filename='js/navbar.js') }}"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">

    <!-- Scripts spécifiques aux pages -->
    {% block scripts %}{% endblock %}

</body>
</html>
