{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/guide-tri.css') }}">{% endblock %}

{% block content %}
<main>
    <!--Section hero page-->
    <!--SECTION 1: HERO-->
    <section class="hero">
        <div class="hero-images">
            <img src="{{ url_for('static', filename='img/Foret-1.webp') }}" alt="Forêt" class="forest">
            <img src="{{ url_for('static', filename='img/Foret-2.webp') }}" alt="Champignon" class="forest-2">
        </div>
        <div class="hero-text">
            <h2>Guide de tri<br> ͞͞͞͞ ͞͞͞͞ ͞͞͞͞ ͞͞͞͞ ͞͞͞͞ ͞͞͞͞ ͞͞͞͞ ͞͞͞͞ ͞͞͞͞ ͞͞͞͞ ͞͞͞͞ ͞͞͞͞ ͞͞͞͞ ͞͞͞͞ ͞͞͞͞ ͞͞͞͞ ͞͞͞͞ ͞͞͞͞ ͞͞͞͞ ͞͞͞͞ ͞͞͞͞ ͞͞͞͞ ͞͞͞͞ ͞͞͞͞ ͞͞͞͞ ͞͞͞͞ ͞͞͞͞ ͞͞͞͞ ͞͞͞͞ ͞͞͞͞
                ͞͞͞͞ ͞͞͞͞ ͞͞͞͞ ͞͞͞͞</h2><br><br>
            <p>
                Tu ne sais pas où jeter un déchet ? 🤔<br>
                Tape son nom dans la barre de recherche :<br> Récy te dira quelle poubelle utiliser<br> et où le déposer ! 🦝♻️
            </p>
        </div>
    </section>


    <!--Section recherche-->
    <div class="search-container">
        <input type="text" id="search-input" placeholder="Ex: bouteille">
        <button id="search-button">🔍</button>
    </div>

    <div id="result-container"></div>

    <script src="/static/js/guide-tri.js"></script>
</main>
{% endblock %}
