<header>
    <h1>Récy&Co</h1>
    <nav>
        <a href="{{ url_for('index') }}">Accueil</a>
        <a href="{{ url_for('jeu') }}">Jeu</a>
        <a href="{{ url_for('infos') }}">Les poubelles</a>
        <a href="{{ url_for('guide') }}">Guide de tri</a>
        <a href="{{ url_for('profil') }}">Profil</a>


        <!-- Lien Connexion (visible si déconnecté) -->
        <a href="/auth" id="auth-link-login" style="display: none;">Connexion</a>

        <!-- Bouton Déconnexion (visible si connecté) -->
        <button id="logout-btn" class="btn-logout" style="display: none;">Déconnexion</button>
    </nav>

    <button class="menu-toggle" id="menu-toggle">𓃑</button>
</header>
