{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/profil.css') }}">
{% endblock %}

{% block content %}
<main>
	<!--SECTION: HERO-->
	<section class="hero">
		<div class="hero-images">
			<img src="{{ url_for('static', filename='img/Foret-1.webp') }}" alt="Forêt" class="forest">
			<img src="{{ url_for('static', filename='img/Foret-2.webp') }}" alt="Champignon" class="forest-2">
		</div>
		<div class="hero-text">
			<h2>Profil<br> ͞͞͞͞ ͞͞͞͞ ͞͞͞͞ ͞͞͞͞ ͞͞͞͞ ͞͞͞͞ ͞͞͞͞ ͞͞͞͞ ͞͞͞͞ ͞͞͞͞ ͞͞͞͞ ͞͞͞͞
				͞͞͞͞ ͞͞͞͞ ͞͞͞͞ ͞͞͞͞ ͞͞͞͞</h2><br><br>
			<p>
				Consulte tes scores, tes badges<br> et continue à progresser avec Récy ! 🦝
			</p>
		</div>
	</section>

	<div class="profil-container">
		<!--TIROIR 1-->
		<h2>Bienvenue <span id="user-pseudo"></span> !</h2>

		<div class="informations">
			<!--TIROIR 2-->
			<section class="infos-utilisateur">
				<h3>Mes informations</h3><br>
				<div class="info-card">
					<p>Email : <span id="user-email"></span></p>
					<p>Score total : <span id="user-score"></span></p>
					<p>Date d'inscription : <span id="user-created-at"></span></p>
				</div>
			</section>

			<!--TIROIR 3-->
			<section class="statistiques">
				<h3>Mes statistiques</h3><br>
				<div class="stats-container">
					<!--Carte 1 : Partie jouées-->
					<div class="stat-card">
						<div class="stat-icon"></div>
						<div class="stat-label">🎮 Parties jouées</div>
						<div class="stat-value" id="stats-games"></div><br>

					</div>
					<!--Carte 2 : Meilleure score-->
					<div class="stat-card">
						<div class="stat-icon"></div>
						<div class="stat-label">🏆 Meilleur score</div>
						<div class="stat-value" id="stats-best"></div><br>

					</div>
					<!--Carte 3 : Déchets triés-->
					<div class="stat-card">
						<div class="stat-icon"></div>
						<div class="stat-label">✅Déchets triés</div>
						<div class="stat-value" id="stats-correct"></div>

					</div>
				</div>
			</section>

			<!--TIROIR 4-->
			<section class="badges">
				<h3>Mes badges</h3><br>
				<div id="badges-container">

				</div>
			</section>
		</div>
	</div>

	<script src="/static/js/auth_refresh.js"></script>
	<script src="/static/js/profil.js"></script>
</main>
{% endblock %}
