.auth-page-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    padding: 2rem;
    margin-top: 12vh;
    flex-wrap: wrap; /* Important pour le responsive */
}

.auth-container {
    background-color: #F7F8F5;
    text-align: center;
    padding: 2rem;

    max-width: 400px;
    width: 90%;
    margin: 0;
    border-radius: 10px;
    box-shadow: 4px 6px rgba(0, 0, 0, 0.1);
}

.form-group {
    text-align:center;
    padding: 0.5rem;
}

.auth-container p {
    padding: 3rem;
}

.auth-container input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 250px;
}

.auth-container button {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0.75rem 2rem;
    margin-top: 1rem;
    width: auto;
}

#login-form,
#register-form {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    align-items: center;
}

#login-form button,
#register-form button {
    font-size: medium;
    width: auto; /* largeur automatique selon le texte */
    padding: 0.75rem 2rem; /* padding pour l'épaissir un peu */
    border-radius: 25px;
    border: none;
    box-shadow: 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #edeeea;

}

#register-form input {
    padding: 0.5rem;
}

#toggle-link {
    color: #94A698;
}

.mascot {
    width: 150px;
    height: auto;
    margin-bottom: 0.5rem;
}

.warning-container {
    background-color: #F7F8F5;
    border-left: 4px solid #B0C7B4; /* Bordure pour le côté "attention" */
    text-align: justify;
    padding: 1rem;

    max-width: 400px;
    width: 90%;
    margin: 0;
    border-radius: 10px;
    box-shadow: 4px 6px rgba(0, 0, 0, 0.1);
}

.warning-container h3 {
    color: #94A698;
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

.warning-container p {
    line-height: 1.6;
    margin-bottom: 0.5rem;
}

.warning-container strong {
    color: #5A6B5E;
}

.warning-container em {
    font-size: 0.9rem;
    color: #666;
}

/* Conteneur pour input + icône */
.password-wrapper {
    position: relative;
    width: 100%;
}

/* L'icône de l'œil */
.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 1.2rem;
    user-select: none; /* Empêche la sélection du texte */
}

.toggle-password:hover {
    opacity: 0.7;
}
