/* base.css - styles communs */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #fff;
  color: #333;
  display: flex;
  flex-direction: column; /* Empiler verticalement */
  min-height: 100vh; /* Prend toute la hauteur de l'écran */
}

main {
  flex: 1;
}

/* header */
header {
  display: flex; /* activation flexbox */
  justify-content: space-between; /* élèments aux extrémités */
  align-items: center; /* centrer verticalement */
}

h1 {
  font-size: 50px;
}

nav {
  background-color: #B0C7B4;
  display: flex;
  gap: 1rem;
  padding: 0.3rem;
  border-radius: 35px 0 0 0;
}

nav a {
  color: black;
  text-decoration: none;
  padding: 0.5rem 0.5rem;
}

.btn-logout {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: medium;
  color: black;
  text-decoration: none;
  padding: 0.5rem 0.5rem;
  background-color: #B0C7B4;
  border: none;

}

/* Footer */
footer {
  font-size: small;
  background-color: #B0C7B4;
  padding: 1rem;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}

.footer-column {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.footer-bottom {
  text-align: center;
}

footer a {
  color: black;
}
