/* SECTION HERO */
.hero {
    background-color: #F7F8F5;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding: 3rem;
    max-width: auto;
    margin: 0 auto; /* Centre automatiquement */
}

.hero-images {
    position: relative;
    width: 550px;
    height: 550px;
    flex-shrink: 0;
    margin-left: 8rem;
}

.forest {
    width: 450px;
    height: 500px;
    position: relative;
    z-index: 1;
    filter: drop-shadow(4px 4px 8px rgba(0,0,0,0.2)); /* Ombre portée */
    border-radius: 200px 200px 0 0;
}

.forest-2 {
    width: 380px;
    height: 400px;
    position: absolute; /* Se superpose à la première */
    bottom: 0px;
    right: -110px; /* Dépasse un peu à droite */
    z-index: 2; /* Au-dessus du grand */
    filter: drop-shadow(2px 2px 6px rgba(0,0,0,0.15)); /* Ombre plus légère */
    border-radius: 200px 200px 0 0;
}

.hero-text {
    flex: 1;
    text-align: center;
    max-width: 1200px;
}

.hero-text p {
    font-size: 1rem;
}
